@model MattAndRebeccaWedding.Models.Guest

@{
    ViewBag.Title = "EditGuest";
}
@Html.Partial("_adminNavView")

<h2>Edit Guest</h2>

@if (!String.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <label class="label label-success" style="font-size:1.4em">@ViewBag.SuccessMessage</label>
    <br />
    <br />
}
else if (!String.IsNullOrEmpty(ViewBag.FailureMessage))
{
    <label class="label label-danger" style="font-size:1.4em">@ViewBag.FailureMessage</label>
    <br />
    <br />
}

<div class="well">


    @using (Html.BeginForm("EditGuest", "EditGuest", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.RsvpId)

        <div class="row editGuestContent">
            <div class="row">
                <div class="col-xs-12 col-sm-2">
                    <input type="button" value="Send Email" class="btn btn-primary" />
                </div>
                <div class="col-xs-12 col-sm-10">
                    <div class="row">
                        <div class="col-xs-4">
                            @Html.DisplayNameFor(model => Model.Name)
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-6">
                            @Html.TextBoxFor(model => Model.Name, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 col-sm-4">
                            @Html.DisplayNameFor(model => model.NumPeopleAllowed)
                        </div>
                        <div class="col-xs-4 col-md-2">
                            @Html.TextBoxFor(model => Model.NumPeopleAllowed, htmlAttributes: new { @class = "form-control", @type = "number" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 col-sm-4">
                            @Html.DisplayNameFor(model => model.NumPeopleAttending)
                        </div>
                        <div class="col-xs-4 col-md-2">
                            @Html.TextBoxFor(model => Model.NumPeopleAttending, htmlAttributes: new { @class = "form-control", @type = "number" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-4">
                            @Html.DisplayNameFor(model => model.Email)
                        </div>
                        <div class="col-xs-9 col-sm-8 col-md-6">
                            @Html.TextBoxFor(model => Model.Email, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            @Html.DisplayNameFor(model => model.CommentForEmailSent)
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            @Html.TextAreaFor(model => Model.CommentForEmailSent, 3, 30, htmlAttributes: new { @class = "form-control", @style = "resize:none;" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-2">
                    <div class="row">
                        <div class="col-xs-4">
                            @Html.DisplayNameFor(model => model.RsvpId)
                        </div>
                        <div class="col-xs-8">
                            <h4>@Html.DisplayTextFor(model => Model.RsvpId)</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            @Html.DisplayNameFor(model => model.HasRSVPed)
                        </div>
                        <div class="col-xs-8 col-sm-2">
                            @Html.CheckBoxFor(model => Model.HasRSVPed, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            @Html.DisplayNameFor(model => model.CommentFromRSVP)
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            @Html.TextAreaFor(model => Model.CommentFromRSVP, 3, 30, htmlAttributes: new { @class = "form-control", @style = "resize:none;" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            @Html.DisplayNameFor(model => model.IsAttending)
                        </div>
                        <div class="col-xs-8 col-sm-2">
                            @Html.CheckBoxFor(model => Model.IsAttending, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="submit" value="Update Guest" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>