@model MattAndRebeccaWedding.Models.Guest

@{
    ViewBag.Title = "AddGuest";
}

@Html.Partial("_adminNavView")

<h2>Add Guest</h2>

@if (!String.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <label class="label label-success" style="font-size:1.4em">@ViewBag.SuccessMessage</label>
    <br />
    <br />
}
else if (!String.IsNullOrEmpty(ViewBag.FailureMessage))
{
    <label class="label label-danger" style="font-size:1.4em">@ViewBag.FailureMessage</label>
    <br />
    <br />
}

<div class="well addGuestContent">

    

    @using (Html.BeginForm("AddGuest", "AddGuest", FormMethod.Post))
    {
        <div class="row">
            <div class="col-xs-2 col-sm-offset-2">
                @Html.DisplayNameFor(model => Model.Name)
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(model => Model.Name, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-sm-offset-2">
                @Html.DisplayNameFor(model => model.Email)
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(model => Model.Email, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-sm-offset-2">
                @Html.DisplayNameFor(model => model.CommentForEmailSent)
            </div>
            <div class="col-xs-4">
                @Html.TextAreaFor(model => Model.CommentForEmailSent, htmlAttributes: new { @class = "form-control", @style = "width: 650px; height:100px;" })
            </div>
        </div>

        <input type="submit" value="Add Guest" class="btn btn-primary col-sm-offset-6" />
    }
</div>