@model IEnumerable<MattAndRebeccaWedding.Models.searchViewModel>

@if (Model.Count() == 0)
{
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <h3>No Results Found. If you already submitted your RSVP your name will not show up here. Contact us if something needs to change.</h3>
        </div>
    </div>
}
else {

    <div class="row">
        <div class="col-xs-5 col-sm-5">
            <h3>@Html.DisplayNameFor(model => model.firstName)</h3>
        </div>
        <div class="col-xs-4">
            <h3>@Html.DisplayNameFor(model => model.lastName)</h3>
        </div>
    </div>

    foreach (var item in Model)
    {
        <div class="row nameSearchResults">
            <div class="col-xs-5 vCenter">
                @Html.DisplayFor(modelItem => item.firstName)
            </div>
            <div class="col-xs-4 vCenter">
                @Html.DisplayFor(modelItem => item.lastName)
            </div>
                <button type="button" class="btn btn-primary" style="font-weight:bold;" onclick="location.href='@Url.Action("GuestRespond", "RSVP", new { rsvpId = item.rsvpID })'"><b>RSVP</b></button>

        </div>
    }
}