@model MattAndRebeccaWedding.Models.Guest

@{
    ViewBag.Title = "Guest RSVP";
}

@section scripts{
    
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    }



<div id="validationDiv">
    @if (!String.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <label class="label label-success" style="font-size:1.4em">@ViewBag.SuccessMessage</label>
                    <br />
                    <br />
    }
    else if(!String.IsNullOrEmpty(ViewBag.FailureMessage))
    {
        <label class="label label-danger" style="font-size:1.4em">@ViewBag.FailureMessage</label>
        <br />
        <br />
    }

</div>



<div class="well addGuestContent">

    <div class="row" style="padding-bottom:35px;">
        <div class="col-xs-12">
            <img src="~/Content/Images/lookUpRsvp.png" class="img-responsive center-block" />
        </div>

    </div>

    @using (Ajax.BeginForm("SearchRSVPs", "RSVP",
                    new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "searchResults" }))
    {
        <div class="row">
            <div class="col-xs-5 col-sm-2 col-sm-offset-3 vCenter">
                <h3>First Name:</h3>
            </div>
            <div class="col-xs-7 col-sm-3 vCenter">
                @Html.TextBox("firstName", null, new { id = "firstName", @class="form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-6">
                <h3 style="margin:0px;">And/Or</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5 col-sm-2 col-sm-offset-3 vCenter">
                <h3>Last Name:</h3>
            </div>
            <div class="col-xs-7 col-sm-3 vCenter">
                @Html.TextBox("lastName", null, new { id = "lastName", @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-6">
                <input type="submit" value="Search" class="btn btn-primary btn-lg" />
            </div>
        </div>        
    }
    <div id="searchResults"></div>
</div>