@model MattAndRebeccaWedding.Models.Guests

@{
    ViewBag.Title = "RSVP";
}
@Html.Partial("_adminNavView")

<h2>RSVP</h2>

<div class="well">    

    <div class="row" id="guestStats">
        <div class="col-xs-12 col-sm-6" id="attendanceTotal">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Attendance Stats (including +1s):</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span>Guests Invited: @Model.GuestsInvited</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span>Guests Attending: @Model.GuestsAttending</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span>Not Attending: @(@Model.GuestsInvited - Model.GuestsAttending)</span>
                </div>
            </div>            
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-xs-12">
                    <h4>RSVP Totals:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span>Total Invited Sent: @Model.RSVPsTotal</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span>RSVPs Recevied: @Model.RSVPsReceived </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span>Awaiting RSVP: @(Model.RSVPsTotal - Model.RSVPsReceived) </span>
                </div>
            </div>
        </div>
    </div>

<div class="row text-center rsvpHeaders">
    <div class="col-xs-1 hidden-xs">
        <h4>Count:</h4>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
        <h4>@Html.DisplayNameFor(model => model.guestList[0].Name)</h4>
    </div>
    <div class="col-md-3 hidden-xs hidden-inline-sm">
        <h4>@Html.DisplayNameFor(model => model.guestList[0].Email)</h4>
    </div>
    <div class="col-sm-3 col-md-2 hidden-xs">
        <h4>@Html.DisplayNameFor(model => model.guestList[0].IsAttending)</h4>
    </div>
    <div class="col-sm-2 hidden-xs">
        <h4>@Html.DisplayNameFor(model => model.guestList[0].HasRSVPed)</h4>
    </div>
</div>
@foreach (var item in Model.guestList)
{
    item.DisplayNum = Model.guestList.IndexOf(item) + 1;
    @Html.Partial("_guest", item);
}
</div>